* {
  box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background: url('../images/bg-sw.jpg') no-repeat;
  font-family: 'Orbitron', sans-serif;
  height: 100%;
  
}

.wrap {
  margin: 2% auto;
  width: 1096px;
  background: rgba(3,69,103,.7);
  height: 100%;
  border-radius: 2%;
  padding-bottom: 2%;
  webkit-box-shadow: 2px 11px 5px -4px rgba(7,26,36,1);
  -moz-box-shadow: 2px 11px 5px -4px rgba(7,26,36,1);
  box-shadow: 2px 11px 5px -4px rgba(7,26,36,1)
  
  
}


header {
  padding: 5px 15px;
  border-bottom: solid 1px #a7e9f5;
  margin: 0 135px 50px 135px;

}

header h1 {
  /*font-size: 1.8em;*/
  font-weight: normal;
  margin-left: 0;
  margin-top: 50px;
  font-weight: 900;
  color: rgb(167, 233, 245);
  font-size: 30px;
  text-shadow: rgba(255, 255, 255, 0.2) 3px 2px 3px;
  
}

h1 {
	color: #005e9c;
	text-align: left;
}

.name h3{
  font-size: .8em;
}

.name-bg {
  font-size: 1em;
  font-weight: bold;

}


button {
  width: 100%;
  text-align: center;
  border: none;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

button:hover {
  background: #b5b2b2;

}

button:hover p {
  color: #FFF;
}

button p {
  color: #666;
  font-family: helvetica, sans-serif;
}

#character {
  padding: 2px;
  border: solid 1px #666;
  border-radius: 5px;
  margin: 0 auto;
}

ul {
	list-style:none;
  margin: 0 auto; 
	padding: 0;
	display: block;
	max-width: 80%;
	text-align: center;
  opacity: 1;
}
ul li {
	display: inline-block;
	padding: 3px;
  background: #fff;
	margin:10px;
  text-align: center;
  border-radius: 5px;
}

ul li img {
	display: block;
  width: 135px;
}
a {
	text-decoration: none;
}
/** Start Coding Here **/

ul.info {
  
  width: 400px;
  background: #FFF;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  box-shadow: 0px -10px 15px rgba(12, 12, 12, 0.5);
}

ul.info li {
  margin: 5px;
  display: block;
}

ul.info li p{
  margin: 0;
  color: #000;
}


#overlay {
  opacity: 0;	
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#overlay span {
  margin-left:  auto;	
  margin-right: auto;
  margin-top: -25px;
  margin-bottom: 5px;
  background: #000;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  width: 5%;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-weight: bold;
  padding: 0.75em;
  transition: all 0.55s;
}

#overlay img {
 margin-top: 1%; 
 width: 300px;
 border: 2px solid #FFF;
}
















